* {
    box-sizing: border-box;
}

body {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.invisible {
    display: none !important;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* header elements */ 

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
    width: 100%;
    top: 0; 
    padding: 0 2vw;
    background-color: black;
    color: white;
}

#spock-mode, #dark-mode {
    color: black;
}

/* main screen setup */ 

#game-screen {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
}

#rules {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
}

#rules-diagram {
    width: auto;
    height: 40vh;
}

/* game message module */

#message-window {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    bottom: 0vh;
    width: 100%;
    background-color: grey;
}

#start-message, #scoreboard, #game-over-message {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    bottom: 0vh;
    height: 20vh;
    z-index: 2;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
/* Style the submit button */

button {
    padding: 10px 20px;
    background-color: green;
    border: 1px solid darkgreen;
    color: white;
  }

/* match elements */

#match-window {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
}

#player-window, #cpu-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#player-window{
    width: 67%;
}

#cpu-window {
    width: 33%;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  linear-gradient(#626262 2px, transparent 2px), linear-gradient(90deg, #626262 2px, transparent 2px), linear-gradient(#626262 1px, transparent 1px), linear-gradient(90deg, #626262 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 10%;
}

.player-info-card {
    background-color: blue;
    color: white;
}

.cpu-info-card {
    background-color: red;
    color: black;
}

#player-icon, #cpu-icon {
    font-size: 10vh;
}

/* move cards */

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width:50%;
}

.move-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 3em;
    text-align: center;
}

.previous-move-card {
    align-items: center;
    justify-content: center;
    width: 5vw;
    font-size: 2em;
    text-align: center;
}

.player-move-card {
    background-color: blue;
    color: white;
}

#player-buttons .player-move-card:hover {
    background-color: darkblue;
}

.cpu-move-card {
    background-color: black;
    color: red;
}

.player-rock-icon, .player-paper-icon {
    transform: rotate(90deg);
}

.player-scissors-icon {
    transform: scale(-1, 1);
    
}

.cpu-rock-icon, .cpu-paper-icon {
    transform: rotate(-90deg) scale(-1, 1);
}

.previous-move-card {
    width: 10%;
    height: 80%;
    font-size: 10vh;
    text-align: center;
}


/* Game Over */

#game-over-screen {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    z-index: 2;
}

/* footer */

#footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

@media screen and (max-width: 400px) {
    #player-window {
        flex-direction: column;
    }
    #player-icon, #cpu-icon {
        font-size: 10vh;
    }
    #cpu-window {
        flex-direction: column-reverse;
    }
}