html {
    background-color: black;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Alice', serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.window {
    text-align: center;
    border: 5px solid rgb(4, 4, 85);
    color: white;
    background-color: rgb(14, 14, 14);
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin: 0;
}

#background {
    background-image: url(images/rps-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:85vh;
    position:absolute;
}

#game-start-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    width: 50vw;
    height: 50vh;
    padding: 40px;
}

#start-button, #restart-button {
    background-color: rgb(4, 4, 85);
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}        

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:85vh;
    position:absolute;
}

#name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
    position:absolute;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto 1vh;
    height: 40vh;
    max-width: 80vw;
}

.button {
    margin: 20px;
    display: inline-block;
    background-color: rgb(4, 4, 85);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 30vh;
    width: 20vh;
}

.button-image {
    height: 30vh;
    width: 20vh;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 30vh;
    width: auto;
}

#results {
    width: 30vw;
}

#player-window, #computer-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
}

.card-player {
    border-radius: 50%;
    width: 10vw;
    height: auto;
}

#game-over-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height:85vh;
    position:absolute;
    font-size: x-large;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.invisible {
    visibility: hidden;
}