html {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alice', serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.window {
    text-align: center;
    border: 5px solid rgb(4, 4, 85);
    color: white;
    background-color: rgb(14, 14, 14);
    box-sizing: border-box;
}

#header, #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin: 0;
}

#background {
    background-image: url(images/rps-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:90vh;
    position:absolute;
}

#game-start-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    width: 30%;
    height: auto;
    padding: 40px;
}

#start-button, #restart-button {
    background-color: rgb(4, 4, 85);
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}        

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:90vh;
    position:absolute;
}

#name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:90vh;
    position:absolute;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 10vw;
    height: 40vw;
}

.button {
    margin: 0;
    padding: 0;
    border: 10px solid white;
}

.button-image {
    max-height: 300px;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    padding: 40px;
    font-size: x-large;
    width: 60%;
}
#player-window, #computer-window {
    width: 30%;
    height: auto;
    padding: 20px;
    font-size: 1rem;
}

.card-player {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

#game-over-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height:90vh;
    position:absolute;
    font-size: x-large;
}

.invisible {
    visibility: hidden;
}

@media screen and (max-width: 650px) {
    #header {
        font-size: 2vh;
    }
    #buttons {
        width: 80%;
        flex-direction: column;
    }
    .button, .button-image {
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
    }
}